.sign-out {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  padding: 6px 14px;
  font-family: Gotham, sans-serif;
  font-size: 14px;
  text-decoration: underline;
}
