.home {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  padding-top: 120px;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}

.home__header {
  margin-bottom: 80px;
  margin-top: 50px;
}

.home__tournament-dates {
  color: #ffffff;
  font-size: 48px;
}

.home__tournament-title {
  margin-top: 9px;
  color: #ed4159;
  display: block;
  font-family: Gotham-Ultra;
  font-size: 106px;
}

@media screen and (max-width: 730px) {
  .home__tournament-dates {
    font-size: 30px;
  }

  .home__tournament-title {
    font-size: 50px;
  }
  .home__header {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 450px) {
  .home__tournament-title {
    font-size: 40px;
  }
}
