.tournament-stats {
  overflow: hidden;
}

.tournament-stats__label {
  font-size: 22px;
  color: #ed4159;
  margin-top: 60px;
  margin-bottom: 24px;
  font-weight: 900;
}

.team__name {
  font-family: Gotham;
  font-size: 16px;
  font-weight: bold;
}

.team__players {
  opacity: 0.7;
  font-family: Gotham;
  font-size: 12px;
  line-height: 15px;
  margin-top: 1px;
}

.team__break {
  display: none;
}

.tournament-stats__cell_results {
  width: 60px;
  text-align: center;
}

.tournament-stats__cell_team {
  flex: 1;
}

.tournament-stats__cell_wins {
  color: #ed4159;
}

@media screen and (max-width: 730px) {
  .tournament-stats__label {
    margin-top: 30px;
  }

  .team__break {
    display: block;
  }
  .team__name {
    font-size: 12px;
  }
  .team__players {
    font-size: 10px;
    line-height: 13px;
    margin-top: 5px;
    width: 130px;
  }
}

@media screen and (max-width: 610px) {
  .tournament-stats__cell_header {
    transform: rotate(-90deg);
    /* font-size: 10px; */
    width: 35px;
    /* padding: 0 3px; */
  }
  .tournament-stats__cell_results {
    width: 35px;
    text-align: center;
  }
  .tournament-stats__cell_team {
    margin-left: 15px;
  }
}

@media screen and (max-width: 450px) {
  .tournament-stats__cell {
    font-size: 11px;
  }
  .tournament-stats__cell_header {
    font-size: 10px;
    width: 22px;
  }
  .team__players {
    width: 110px;
  }
  .tournament-stats__cell_results {
    width: 22px;
    text-align: center;
  }
  .team__name {
    font-size: 10px;
  }
}
