.team-progress {
  display: flex;
  margin-top: 5px;
}

.team-progress__dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 3px;
  background-color: #e03f55;
}

.team-progress__dot_win {
  background-color: #2c652f;
}

@media screen and (max-width: 730px) {
  .team-progress__dot {
    width: 2px;
    height: 10px;
    border-radius: 0;
    margin-right: 2px;
  }
}
