.leaderboard__title {
  display: block;
  font-size: 22px;
  color: rgb(237, 65, 89);
  margin-top: 60px;
  margin-bottom: 24px;
  font-weight: 900;
}

.leaderboard__table {
  width: 100%;
}

.leaderboard__cell_player {
  flex: 1;
  min-width: 120px;
}

.leaderboard__cell_results {
  width: 60px;
  text-align: center;
}

.leaderboard__cell_rating {
  color: #ed4159;
}

.leaderboard {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  padding-top: 120px;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}

.leaderboard__user-name {
  padding-left: 10px;
}
