.tournaments-history__label {
  font-size: 62px;
  color: #ed4159;
  font-weight: 700;
}

.tournaments-history__blocks {
  margin-top: 43px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 60px 40px;
  padding-bottom: 60px;
}

@media screen and (max-width: 810px) {
  .tournaments-history__blocks {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 730px) {
  .tournaments-history__label {
    font-size: 40px;
  }
}

@media screen and (max-width: 450px) {
  .tournaments-history__label {
    font-size: 30px;
  }

  .tournaments-history__blocks {
    margin-top: 20px;
  }
}
