.user-photo {
  position: relative;
  margin-left: 10px;
}

.user-photo__number {
  position: absolute;
  top: 0px;
  left: -9px;
  width: 18px;
  height: 18px;
  border-radius: 15px;
  font-size: 11px;
  text-align: center;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(237, 65, 89);
  background-image: linear-gradient(
    rgba(237, 65, 89, 0.55),
    rgba(237, 65, 89, 0.8)
  );
  z-index: 3;
}

.user-photo__label {
  position: relative;
  top: 4px;
}

.user-photo__image {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: rgb(240, 240, 240);
  margin-right: -7px;
  z-index: 2;
}

@media screen and (max-width: 365px) {
  .user-photo__image {
    display: none;
  }
  .user-photo__number {
    top: -9px;
    left: 0;
    width: 13px;
    height: 13px;
    font-size: 9px;
  }
  .user-photo__label {
    top: 3px;
  }
}
