.team-photo {
  position: relative;
  display: flex;
  justify-content: center;
}

.team-photo__position-number {
  position: absolute;
  top: 0px;
  left: -9px;
}

.position-number {
  width: 18px;
  height: 18px;
  border-radius: 15px;
  font-size: 11px;
  text-align: center;
  color: #ffffff;
  border: solid 1px #ed4159;
  background-image: linear-gradient(
    to bottom,
    rgba(237, 65, 89, 0.55),
    rgba(237, 65, 89, 0.8)
  );
  z-index: 3;
}

.position-number__text {
  position: relative;
  top: 4px;
}

.team-photo__image {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #f0f0f0;
}

.team-photo__image_position_forward {
  margin-left: -7px;
  z-index: 1;
}

.team-photo__image_position_defender {
  margin-right: -7px;
  z-index: 2;
}

@media screen and (max-width: 730px) {
  .position-number {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    font-size: 9px;
  }
  .position-number__text {
    top: 3px;
  }
  .team-photo__image {
    width: 26px;
    height: 26px;
    border-radius: 50%;
  }
  .team-photo__image_position_forward {
    margin-left: -2px;
  }
}

@media screen and (max-width: 610px) {
  .team-photo__position-number {
    position: absolute;
    top: -9px;
    left: 0px;
  }
}

@media screen and (max-width: 365px) {
  .team-photo__image {
    display: none;
  }
}
