.players-stats__title {
  display: block;
  font-size: 22px;
  color: rgb(237, 65, 89);
  margin-top: 60px;
  margin-bottom: 24px;
  font-weight: 900;
}

.players-stats__table {
  width: 100%;
}

.players-stats__cell_player {
  flex: 1;
  min-width: 120px;
}

.players-stats__cell_results {
  width: 60px;
  text-align: center;
}

.players-stats__cell_rating {
  color: #ed4159;
}

.players-stats__user-name {
  padding-left: 10px;
}

@media screen and (max-width: 610px) {
  .players-stats__cell_header {
    transform: rotate(-90deg);
    width: 35px;
  }
  .players-stats__cell_results {
    width: 35px;
  }
}

@media screen and (max-width: 450px) {
  .players-stats__cell_header {
    font-size: 10px;
    width: 22px;
  }
  .players-stats__cell_player {
    width: 110px;
  }
  .players-stats__cell_results {
    width: 22px;
  }
}

@media screen and (max-width: 365px) {
  .players-stats__user-name {
    padding-left: 15px;
  }
}
