.game-summary {
  position: relative;
  width: 100%;
  min-height: 80px;
  border-radius: 4px;
  background-color: #262525;
  margin-bottom: 6px;
  display: grid;
  grid-template-columns: 1fr 20px 1fr;
  align-items: center;
  color: #ffffff;
  overflow: hidden;
  box-sizing: border-box;
}

.game-summary__left-side {
  position: relative;
  align-items: center;
  display: grid;
  grid-template-columns: 90px 1fr 40px;
  padding: 5px;
  height: 100%;
  box-sizing: border-box;
}

.game-summary__left-side_gradient {
  background: linear-gradient(
    90deg,
    rgba(255, 35, 74, 0.4) 0%,
    rgba(237, 65, 228, 0) 55%
  );
}

.game-summary__right-side {
  position: relative;
  align-items: center;
  display: grid;
  grid-template-columns: 40px 1fr 90px;
  padding: 5px;
  height: 100%;
  box-sizing: border-box;
}

.game-summary__right-side_gradient {
  background: linear-gradient(
    270deg,
    rgba(255, 35, 74, 0.4) 0%,
    rgba(237, 65, 228, 0) 55%
  );
}

.game-summary__colon {
  font-size: 22px;
  font-weight: 900;
  text-align: center;
}

.game-summary__team {
  overflow: hidden;
}

.game-summary__team_right {
  text-align: right;
}

.game-summary__team-name {
  font-size: 16px;
  font-weight: bold;
}

.game-summary__players {
  opacity: 0.7;
  font-size: 12px;
  line-height: 15px;
  margin-top: 1px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.game-summary__score {
  text-align: right;
  font-size: 22px;
  font-weight: 900;
}

.game-summary__score_right {
  text-align: left;
}

@media screen and (max-width: 730px) {
  .game-summary {
    grid-template-columns: 1fr;
  }

  .game-summary__right-side,
  .game-summary__left-side {
    grid-template-columns: 60px 1fr 40px;
  }

  .game-summary__team {
    margin-left: 5px;
  }

  .game-summary__break {
    display: none;
  }

  .game-summary__colon {
    display: none;
  }

  .game-summary__score {
    margin-right: 20px;
  }

  .game-summary__score_right {
    grid-row-start: 1;
    grid-column-start: 3;
    text-align: right;
  }

  .game-summary__team_right {
    text-align: left;
    grid-row-start: 1;
    grid-column-start: 2;
  }

  .game-summary__right-side_gradient {
    background: linear-gradient(
      90deg,
      rgba(255, 35, 74, 0.4) 0%,
      rgba(237, 65, 228, 0) 100%
    );
  }

  .game-summary__left-side_gradient {
    background: linear-gradient(
      90deg,
      rgba(255, 35, 74, 0.4) 0%,
      rgba(237, 65, 228, 0) 100%
    );
  }
}

@media screen and (max-width: 610px) {
  .game-summary__team-name {
    font-size: 12px;
  }
  .game-summary__players {
    font-size: 10px;
  }
}

@media screen and (max-width: 365px) {
  .game-summary__left-side,
  .game-summary__right-side {
    grid-template-columns: 0px 1fr 40px;
  }

  .game-summary__break {
    display: block;
  }
}
