.tournament-summary {
  background-color: #262525;
  border-radius: 4px;
  padding: 28px 32px 0 32px;
}

.tournament-summary__date {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  opacity: 0.7;
}

.tournament-summary__title {
  margin-top: 8px;
  font-weight: bold;
  font-size: 25px;
  line-height: 28px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #ffffff;
  min-height: 50px;
}

.tournament-summary__team-winner {
  top: 25px;
}

.team-winner {
  display: flex;
  box-sizing: border-box;
  position: relative;
  padding: 16px;
  min-height: 85px;
  background-color: #333030;
  border-radius: 4px;
  justify-content: space-between;
}

.team_winner__team-info {
  display: flex;
  align-items: center;
}

.team-winner__name {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 16px;
}

.team-winner__players-names {
  margin-left: 16px;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  opacity: 0.7;
  margin-top: 3px;
}

.team-winner__break {
  display: none;
}

.team-winner__award {
  width: 50px;
  height: 50px;
  background-image: url("src/assets/images/cup.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50px;
}

.team-winner__placeholder {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 1045px) {
}

@media screen and (max-width: 730px) {
  .team-winner__break {
    display: block;
  }
}

@media screen and (max-width: 450px) {
  .tournament-summary__title {
    font-size: 20px;
    min-height: 0;
  }

  .team-winner__name {
    font-size: 12px;
  }

  .team-winner__players-names {
    font-size: 10px;
  }
}
