.user-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user-info__name {
  color: rgb(255, 255, 255);
  padding: 6px 14px;
  font-size: 14px;
  box-sizing: border-box;
}

.user-info__image {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: rgb(240, 240, 240);
}
