.tile {
  display: grid;
}

.tile_blue {
  color: #235cff;
  justify-items: end;
}

.tile_blue .tile__action-title {
  text-align: end;
}

.tile_red {
  color: #ff234a;
  justify-items: start;
}

.tile_forward {
  background-color: #0e0e0e;
}

.tile_defender {
  background-color: #191919;
}

.tile_blue.tile_defender {
  align-items: end;
  background-image: url("../../../assets/images/players/lt-stat.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 185px;
}

.tile_red.tile_forward {
  align-items: end;
  background-image: url("../../../assets/images/players/rt-stat.svg");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 185px;
}

.tile_blue.tile_forward {
  align-items: start;
  background-image: url("../../../assets/images/players/lb-stat.svg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 185px;
}

.tile_red.tile_defender {
  align-items: start;
  background-image: url("../../../assets/images/players/rb-stat.svg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 185px;
}

.tile__action {
  display: grid;
  grid-template-areas:
    "button"
    "position";
  gap: 15px;
  padding: 30px;
}

.tile_forward.tile_red .tile__action {
  grid-template-areas:
    "position"
    "button";
}

.tile_defender.tile_blue .tile__action {
  grid-template-areas:
    "position"
    "button";
}

.tile__action-button {
  grid-area: button;
  display: grid;
  background-color: transparent;
  border: none;
  padding: 0;
}

.tile_red .tile__action-button {
  justify-self: flex-start;
}

.tile_blue .tile__action-button {
  justify-self: flex-end;
}

.tile__action-button_circle {
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

.tile__action-button_add {
  background-image: url("../../../assets/images/players/add.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 30px;
}

.tile_blue .tile__action-button_add {
  background-color: #235cff;
}

.tile_red .tile__action-button_add {
  background-color: #ff234a;
}

.tile__action-title {
  font-family: Gotham;
  font-size: 14px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: 1px;
  color: inherit;
  text-transform: uppercase;
  grid-area: position;
}
