.table {
  width: 100%;
}

.table__head {
  display: flex;
  margin-bottom: 16px;
}

.table__row {
  display: flex;
  padding: 0 6px;
  height: 80px;
  border-radius: 4px;
  background-color: #262525;
  margin-bottom: 6px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
}

.table__cell {
  flex-shrink: 0;
  padding: 0 6px;
}

.table__cell_header {
  color: #ffffff;
  opacity: 0.7;
  font-size: 12px;
  font-weight: 500;
  flex-shrink: 0;
  padding: 0 6px;
}

@media screen and (max-width: 730px) {
  .table__row {
    padding: 0;
    height: 90px;
    align-items: center;
  }
  .table__head {
    align-items: center;
  }
}

@media screen and (max-width: 610px) {
  .table__cell {
    font-size: 15px;
    padding: 0 3px;
  }

  .table__cell_header {
    padding: 0 3px;
    font-size: 10px;
  }
}

@media screen and (max-width: 450px) {
  .table__cell {
    font-size: 11px;
  }
}
