.screen-header {
  display: flex;
  align-items: center;
  height: inherit;
}

.screen-header__logo {
  margin-left: 16px;
  height: 46px;
}

.screen-header__sign-out {
  margin-right: 16px;
}

.screen-header__sign-in {
  flex: 1;
  text-align: end;
  margin-right: 16px;
}

.screen-header__user-info {
  flex: 1;
}
