.player-selection {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.player-selection__center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);

  /* original image size */
  width: 440px;
  height: 520px;

  background-image: url("../../assets/images/players/middle-sign-rw.svg"),
    url("../../assets/images/players/logo-area.svg"),
    url("../../assets/images/players/center-img.svg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center, center, center;
}
